body {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap")
    margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.pic {
  width: 100px;
}
h1 {
  font-weight: 900;
}
ul {
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
}
.nav-bar {
  list-style: none;
  display: flex;
}
.nav-bar li {
  padding: 10px;
}
.footer-bar {
  font-size: 30px;
  background-color: antiquewhite;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  /* font-family: "Montserrat", sans-serif; */
}
